/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .house-logo {
  color: #444;
}

nav {
  position: fixed;
  top: 0;
  z-index: 10;
}

nav .nav-wrapper {
  background-color: #00bfa5;
}

.text-description {
  font: 15px;
 }

p {
  line-height: 1.8rem;
}
  
.waves-green {
font-size: 1.29rem;
}

p#text-in,
p#text-in1,
p#text-in2,
p#text-in3,
p#text-in4,
p#text-in5,
p#text-in6
 {
  font-size: 1.3rem;
}

.sidenav-trigger {
  color: #9a921c;
}

.image-desc {
  border-radius: 60%;  /* makes the image round */
  width: 240px;  /* sets the width of the image to 64 pixels */
  float: right;  /* floats the image to the right */
  padding-top: 0px; 
  padding-bottom: 20px;
}

.image-cyp {
  width: 200px;  /* sets the width of the image to 64 pixels */
  float:right;
  position: right;
  padding-top: 0px; 
  padding-bottom: 10px;
  margin-left: 0px;
}

.image-desc-doom {
  border-radius: 13%;
  width: 488px;  /* sets the width of the image to 64 pixels */
  float: left;  /* floats the image to the right */
  padding-top: 12px; 
  padding-right: 30px;
}

h3#mdi-content {
  float: center;
}

a#download-button1,
a#download-button2,
a#download-button3,
a#download-button4,
a#download-button5,
a#download-button6 {
  margin: 0 11px;  /* adds a 16px margin on both sides of the button */
}

.parallax-container {
  min-height: auto;
  line-height: auto;
  margin: auto;
  height: 100%;
  width: 100%;
  color: rgba(255,255,255,.9);
  padding-top: 30px; 
  padding-bottom: 30px;
}
.parallax-container .section {
  width: 100%;
  padding-top: 10px; 
  padding-bottom: 10px;
  height: 200%;
  margin: auto;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
    padding-top: 30px; 
    padding-bottom: 30px;
    height: 100%;
    margin: auto;
  }
  #index-banner .section {
    top: 10%;
    padding-top: 30px; 
    padding-bottom: 30px;
    height: 100%;
    margin: auto;
  }
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 40px;
    padding-top: 30px; 
    padding-bottom: 30px;
    height: 100%;
    margin: auto;
  }
}

.valign-wrapper {
  height: 100%;
  width: 100%
}

.icon-block {
  padding: 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: auto;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  overflow: hidden;
  align-items: center;
  font-weight: bold;

}

.album-image {
  width: 27%;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 13px solid rgb(0, 0, 0);
  overflow: hidden;
}

.album-image img {
  width: 100%;
  height: auto;
}

.album-image h3 {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.album-image p {
  font-size: 0.9rem;
  color: #666;
}

.video-container {
  width: '1200';
  height: '800';
  margin: 0 auto;
  margin-bottom: 30px;
} 

.video-container video {
  background-image: url(play-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

code.language-javascript {
  color: #f66;
  background-color: #232;
  padding: 2px;
}