/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #9a921c;
}

.parallax-container {
  min-height: 310px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem 0;
}

.album-image {
  width: 27%;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 15px solid rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
}

.album-image img {
  width: 99%;
  height: auto;
}

.album-image h3 {
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.album-image p {
  font-size: 0.8rem;
  color: #666;
}

